@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
}

.btn {
  cursor: pointer;
  padding: 6px 36px;
  margin: 0 8px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid white;
}

.anchor-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 2px;
  fill: #c3c5c7;
  height: 16px;
  line-height: 14px;
  padding: 8px;
  width: 16px;
  &:hover {
    background-color: $light-grey;
    outline: none;
  }
}

.search-bar {
  flex-grow: 1;
  margin: 0 16px;
  width: auto;
  position: relative;
  .search-icon {
    position: absolute;
    color: #717171;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    left: 13px;
    top: 9px;
  }
  input {
    background-color: $grey;
    border-radius: 4px;
    border: 1px solid $light-grey;
    box-shadow: none;
    color: $white;
    height: 36px;
    width: calc(100% - 50px);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
}

.main-nav {
  font-size: 14px;
  height: 50px;
  font-weight: 500;
  line-height: 18px;
  background: $black;
  border-bottom: 1px solid $light-grey;
  display: flex;
  align-items: center;
  .logo-link {
    height: 100%;
    .nav-logo {
      height: 85%;
      margin: 4px 20px 0;
    }
  }
  .navigation-menu {
    width: 270px;
    color: $white;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    .sub-logo {
      height: 24px;
    }
    .sub-name {
      margin-left: 10px;
    }
    i {
      margin-left: auto;
    }
    &:hover {
      border: 2px solid $grey;
      border-radius: 5px;
      padding: 5px 18px;
    }
  }
  input {
    padding: 0 16px 0 40px;
  }
  .icons {
    display: flex;
    align-items: center;
    .right {
      // display: flex;
      display: none;
      padding-left: 8px;
    }
    .left {
      display: flex;
      padding-right: 8px;
      border-right: 1px solid $light-grey;
    }
    a {
      fill: $white;
    }
    svg {
      height: 16px;
    }
  }
  .coins {
    fill: yellow;
    // display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 20px;
    padding: 7px 16px 7px 12px;
    border: 1px solid yellow;
    color: $white;
    &:hover {
      background: $light-grey;
    }
    svg {
      height: 16px;
    }
  }
  .user {
    display: flex;
    align-items: center;
    .login {
      background: #ff000000;
      color: white;
    }
    .signup {
      background-color: white;
    }
    .options {
      display: flex;
      align-items: center;
      fill: $white;
      padding-right: 45px;
      color: $white;
      svg {
        height: 28px;
      }
    }
  }
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 228px;
  width: 100%;
  height: 228px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capsule {
  background: $black;
  border: 1px solid #474748;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 16px;
  display: flex;
}

.capsule.comment {
  position: relative;
  .counter {
    display: flex;
    flex-direction: column;
    width: 40px;
    border-left: 5px solid transparent;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
    background: #151516;
    color: $white;
    a {
      padding: 5px;
      color: $white;
    }
    i {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
  .post {
    margin-left: 40px;
    .info {
      margin-bottom: 8px;
      .posted-by,
      .posted-time {
        font-size: 12px;
        color: #818384;
        margin: 0 0px 8px 0px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    h3 {
      font-size: 18px;
      color: #d7dadc;
      font-weight: 500;
    }
  }
}

.search-capsule {
  display: flex;
  align-items: center;
  flex-grow: 1;
  .search-bar {
    margin: 0;
  }
  input {
    width: calc(100% - 23px);
  }
  a {
    height: 20px;
    width: 20px;
  }
  svg {
    fill: #818384;
    height: 20px;
  }
  input {
    padding-left: 16px;
    margin-right: 8px;
  }
}

.main-content {
  background: $black_deep;
  display: flex;
  justify-content: center;
  min-height: 500px;
  padding: 20px 24px;
  .timeline {
    flex-basis: 640px;
  }
  .sidebar {
    flex-basis: 312px;
    margin-left: 24px;
    img {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}
