<header class="sub-header">
  <div class="header-container">
    <div class="header-wrapper">
      <%= image_tag(@sub.logo, class: 'header-logo') %>
      <div class="title-wrapper">
        <div class="title">
          <h1><%= @sub.name_pretty %></h1>
          <h2>r/<%= @sub.name %></h2>
        </div>
        <div class="button-wrapper">
          <button class="btn">
            JOIN
          </button>
        </div>
      </div>
    </div>
    <div class="body-selector">
      <a href="#" class="selected">Posts</a>
      <a href="#">Full Rules</a>
      <a href="#"><%= @lol %></a>
    </div>
  </div>
</header>
