<header class="sub-header">
  <div class="header-container">
    <%= image_tag(@sub.logo) %>
    <div class="title">
    <h1><%= @sub.name %></h1>
    <h2>r/<%= @sub.name %></h2>
    </div>
    <button>
      JOIN
    </button>
  </div>
</header>
