<div class="timeline">
<%= render  "common/capsule", type: 'search', inside: (render "common/search_capsule") %>
  <% @sub.posts.each do  |post| %>
    <%= render  "common/capsule", type: 'comment', inside: (render "common/comment", post: post) %>
  <% end %>
</div>
